<h1>The most exclusive Restaurants of the world</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-3">
      <ul>
        <% @restaurants.each do |restaurant| %>
          <li><%= link_to restaurant.name, restaurant_path(restaurant.id) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-3">
      <%= link_to "add new restaurant",  new_restaurant_path %>
    </div>
  </div>
</div>
